
@{
    ViewBag.Title = "Cart";
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="active">Giỏ hàng</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Sản phẩm</td>
                        <td class="description"></td>
                        <td class="price">Giá</td>
                        <td class="quantity">Số lượng</td>
                        <td class="total">Tổng tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="cart_product">
                            <a href="">
                                <img src="~/wwwroot/images/cart/bde9bc30d8e838b661f9.jpg" />
                            </a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">Ghế Gỗ Hương Đá</a></h4>
                            <p>ID: 1089772</p>
                        </td>
                        <td class="cart_price">
                            <p>12.000.000đ</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_up" href=""> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off"
                                       size="2" />
                                <a class="cart_quantity_down" href=""> - </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">12.000.000đ</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>
<!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>Bước tiếp theo</h3>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="chose_area">
                    <ul class="user_info">
                        <li class="single_field">
                            <label>Tỉnh thành phố:</label>
                            <select>
                                <option>Hà Nội</option>
                                <option>Nghệ An</option>
                                <option>Hòa Bình</option>
                                <option>Thái Nguyên</option>
                                <option>Cao Bằng</option>
                                <option>Bắc Kạn</option>
                                <option>Thái Bình</option>
                                <option>Sơn La</option>
                            </select>
                        </li>
                        <li class="single_field">
                            <label>Quận Huyên</label>
                            <select>
                                <option>Bắc Từ Liêm</option>
                                <option>Nam Từ Liêm</option>
                                <option>Hà Đông</option>
                                <option>Mỹ Đình</option>
                                <option>Thanh Oai</option>
                                <option>Thạch Thất</option>
                                <option>Cầu Giấy</option>
                                <option>Ba Vì</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="chose-area">
                    <h3 class="">Địa chỉ nhận hàng</h3>
                    <input type="text" name="" id="" class="form-control" placeholder="Nhập địa chỉ nhận hàng" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Giá<span>12.000.000đ</span></li>
                        <li>Thuế phát sinh<span>100.000đ</span></li>
                        <li>Phí vận chuyển<span>Free</span></li>
                        <li>Tổng tiền<span>12.100.000đ</span></li>
                    </ul>
                    <a class="btn btn-default check_out" href="" style="margin-left: 40px">Đặt hàng</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#do_action-->
