@model BaiTapLon.Models.TaiKhoan
@{
    ViewBag.Title = "Login";
}

<!--form-->
<section id="form">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Đăng nhập</h2>
                    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Tendangnhap, "", new { @class = "form-control", @placeholder = "Tên đăng nhập" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Matkhau, "", new { @class = "form-control", @placeholder = "Mật Khẩu" })
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-primary" value="Đăng nhập" />
                        </div>
                    }
                </div>
                <!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">Hoặc</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>Tạo tài khoản mới</h2>
                    <form action="#">
                        <input type="text" placeholder="User Name" />
                        <input type="email" placeholder="Email Address" />
                        <input type="password" placeholder="Password" />
                        <button type="submit" class="btn btn-default">Đăng kí</button>
                    </form>
                </div>
                <!--/sign up form-->
            </div>
        </div>
    </div>
</section>
<!--/form-->
