@model IEnumerable<BaiTapLon.Models.HoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">

    <thead style="background-color: #fe980f">
        <tr>
            <th>Mã hóa đơn</th>
            <th>Trạng thái</th>
            <th>

            </th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mahoadon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trangthai)
        </td>
        
        <td>
           <a href="@Url.Action( "Details","HoaDons", new { id = item.Mahoadon})">Chi tiết</a>
        </td>
    </tr>
}

</table>
